<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>USB Device Driver Shield - USB Missile Launcher NZ - 32/64bit</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>DreamCheeky_1st_DeviceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>idProduct</key>
			<integer>32801</integer>
			<key>idVendor</key>
			<integer>6465</integer>
		</dict>
		<key>DreamCheeky_1st_Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>32801</integer>
			<key>idVendor</key>
			<integer>6465</integer>
		</dict>
		<key>DreamCheeky_IOC_DeviceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>idProduct</key>
			<integer>4112</integer>
			<key>idVendor</key>
			<integer>8483</integer>
		</dict>
		<key>DreamCheeky_IOC_Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceClass</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>0</integer>
			<key>bcdDevice</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>4112</integer>
			<key>idVendor</key>
			<integer>8483</integer>
		</dict>
		<key>DreamCheeky_IR_DeviceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>idProduct</key>
			<integer>65281</integer>
			<key>idVendor</key>
			<integer>2689</integer>
		</dict>
		<key>DreamCheeky_IR_Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>65281</integer>
			<key>idVendor</key>
			<integer>2689</integer>
		</dict>
		<key>DreamCheeky_RB_DeviceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>idProduct</key>
			<integer>1793</integer>
			<key>idVendor</key>
			<integer>2689</integer>
		</dict>
		<key>DreamCheeky_RB_Interface</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1793</integer>
			<key>idVendor</key>
			<integer>2689</integer>
		</dict>
		<key>GreyFrenchCHIC_Interface0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6488</integer>
			<key>idVendor</key>
			<integer>1534</integer>
		</dict>
		<key>GreyFrenchCHIC_Interface1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>6488</integer>
			<key>idVendor</key>
			<integer>1534</integer>
		</dict>
		<key>OriginalLauncher_Interface0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>514</integer>
			<key>idVendor</key>
			<integer>4400</integer>
		</dict>
		<key>OriginalLauncher_Interface1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>514</integer>
			<key>idVendor</key>
			<integer>4400</integer>
		</dict>
		<key>OriginalLauncher_WinBond_Interface1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>37777</integer>
			<key>idVendor</key>
			<integer>1046</integer>
		</dict>
		<key>OriginalLauncher_winBond_Interface0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nz.org.mactcp.iokit.usbmissilelaunchernz</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>37777</integer>
			<key>idVendor</key>
			<integer>1046</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 David G. Wilson. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kernel.bsd</key>
		<string>6.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.7</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.7</string>
		<key>com.apple.kernel.mach</key>
		<string>1.0.7</string>
	</dict>
	<key>OSBundleLibraries_i386</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kernel.bsd</key>
		<string>6.0</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.0.7</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.0.7</string>
		<key>com.apple.kernel.mach</key>
		<string>1.0.7</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
